<div class="jumbotron">
	<h1>Contact Us</h1>
	<div class={{emailValidation}}>
		{{input type="email" value=emailAddress class="form-control" placeholder="Your e-mail address." autofocus="autofocus"}}
		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	</div>
	<div class={{messageValidation}}>
		{{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	</div>
	<button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'saveMessage'}}>Submit</button>
	
	{{#if responseMessage}}
		<div class="alert alert-success">{{responseMessage}}</div>
	{{/if}}
	
</div>